body, .footer-right-container-input{
    background-color: #22262A; /*#22262A*/
}

.hello{
    background-color: #5F696B; /*#5F696B*/
}

.burger-menu-line, .burger-menu-icon-line,
.point-card-box > div, .group-card,
.footer-left-container-line, .footer-left-container-line{
    background-color: #FFFFFF;
}


.group-card > p{
    color: #22262A;
}

header > p:nth-child(1), nav > a > p, .burger-menu > a, .burger-menu-double > p,
.point-card-text > p, .choose-header > p,
.where-header > p,
.footer-right-container > p, .footer-right-container-text-contant > p,
.footer-left-container > p, .footer-log > p{
    color: #FFFFFF;
}

footer{
    background-color: #3D4546;/*#3D4546*/
}

.footer-log{
    background-color: #313838; /*313838*/
}

.burger-menu{
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0) 0%,
        hsla(0, 0%, 0%, 0.7) 100%
    );
}


