/*-----hello-----*/
.hello{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    height: fit-content;
}

.hello > :nth-child(2), .hello > :nth-child(3){
    display: none;
}

@media(max-width: 1080px){
    .hello > :nth-child(1), .hello > :nth-child(3){
        display: none;
    }

    .hello > :nth-child(2){
        display: flex;
    }
}

@media(max-width: 767px){
    .hello > :nth-child(1), .hello > :nth-child(2){
        display: none;
    }

    .hello > :nth-child(3){
        display: flex;
    }
}

/*-----hello-----*/

/*-----point-----*/
.point{
    height: fit-content;
    padding: 60px 100px;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.point-card{
    width: 320px;
    height: 225px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.point-card-box{
    height: calc(100% - 10px);
    width: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 1px;
}

.point-card-box-line{
    width: 2px;
    height: 100%;
}

.point-card-box-point{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40px;
    border-radius: 10px;
}

.point-card-text{
    height: 201px;
    width: 228px;
    display: flex;
    flex-direction: column;
}

.point-card-text > img{
    height: 60px;
    width: 60px;
}

.point-card-text > p:nth-child(2){
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.point-card-text > p:nth-child(3){
    line-height: 32px;
}


@media(max-width: 1159px){
    .point{
        justify-content: center;
    }
}

@media(max-width: 859px){
    .point{
        justify-content: center;
        flex-direction: column;
        padding: 60px 0;
        width: 100%;
    }
}
/*-----point-----*/