/*-----hello-----*/
.hello{
    padding: 30px 100px 30px 100px;
    width: calc(100% - 200px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hello > img{
    width: 600px;
    height: 530px;
}

.hello-container-text{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hello-container-text > p:nth-child(1), .hello-container-text > p:nth-child(3){
    line-height: 27px;
}

.hello-container-text > p:nth-child(2){
    letter-spacing: 1.3px;
}

.hello-container-text > p:nth-child(3){
    letter-spacing: -0.9px;
}

.hello-container-double-button{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
}

.button-home{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 767px){
    
    .hello > img{
        width: 320px;
        height: 300px;
    }

    .hello{
        padding: 30px 0;
        width: 100%;
        gap: 30px;
        flex-direction: column;
    }

    .hello-container-text{
        align-items: center;
        text-align: center;
    }

    
    .hello-container-double-button{
        justify-content: center;
    }
}
/*-----hello-----*/

/*-----categories------*/
    .categories{
        padding: 30px 75px;
        width: calc(100% - 150px);
        height: fit-content;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .categories-header{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }

    .categories-header > img{
        cursor: pointer;
    }

    .categories-container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px 58px;
    }

    .categories-container-item{
        width: 138px;
        height: 178px;
        display:flex ;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #FFFFFF;
    }

    .categories-container-item.active{
        background-color: #22262A;
    }

    .categories-container-item > p.active{
        color: #FFFFFF;
    }

    .categories-container-item > p{
        font-weight: 600;
    }
    
    .categories-container-item:nth-child(1) > img{
        height: 120px;
        width: 120px;
        margin-top: 10px;
    }

    .categories-container-item:nth-child(1) > p{
        margin-top: -7px;
    }

    .categories-container-item:nth-child(2) > img,
    .categories-container-item:nth-child(5) > img{
        height: 90px;
        width: 90px;
        margin-top: 25px;
        margin-bottom: 8px;
    }

    .categories-container-item:nth-child(3) > img{
        height: 110px;
        width: 110px;
        margin-top: 15px;
        margin-bottom: -1px;
    }

    .categories-container-item:nth-child(4) > img,
    .categories-container-item:nth-child(6) > img{
        height: 85px;
        width: 85px;
        margin-top: 25px;
        margin-bottom: 12px;
    }

    @media(max-width: 768px){
        .categories{
            padding: 30px 30px;
            width: calc(100% - 60px);
        }
    }
/*-----categories------*/

/*---modal windows---*/
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 2s;
}

.modal-box{
    position: relative;
    width: 320px;
    height: 200px;
    z-index: 1;
    background-color: #22262A;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 89, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.modal.show{
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}

.modal-box > p:first-child{
    margin: 20px 0 33px 0;
}

.modal-box > p:nth-child(2){
    max-width: 290px;
}

.closer{
    position: absolute;
    top: 10px;
    left: 290px;
}
/*---modal windows---*/

/*-----my-shop-----*/

.my-shop{
    height: fit-content;
    padding: 60px 0;
    width: 100%;
}

.my-shop-text{
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.my-shop-text > p:nth-child(1){
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: -1px;
}

.my-shop-container-card{
    height: fit-content;
    padding: 0 75px;
    width: calc(100% - 150px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.my-shop-card{
    height: 470px;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.my-shop-card > img{
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
}

.my-shop-card p{
    line-height: 23px;
}

.my-shop-card > :nth-child(3){
    font-weight: 600;
    letter-spacing: 0.2px;
}

.me-shop-card-double-text{
    width: 145px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.me-shop-card-double-text > p:nth-child(2){
    color: #CF2929;
}

@media(max-width: 767px){
    .my-shop-container-card{
        padding: 0 30px;
        width: calc(100% - 60px);
    }
}
/*-----my-shop-----*/

/*-----hello-two-----*/
.hello-two{
    height: fit-content;
    padding: 30px 100px 0 100px;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hello-two > img{
    width: 469px;
    height: 445px;
}

.hello-two-text-container{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hello-two-text-container > :nth-child(2){
    margin-top: -4px;
    letter-spacing: 1.4px;
}

.hello-two-text-container > .button-home{
    width: 215px;
}

@media(max-width: 1048px){
    .hello-two{
        padding: 30px 100px 30px 100px;
    }

    .hello-two-text-container > :nth-child(2){
        margin-top: -5px;
    }
}

@media(max-width: 767px){
    .hello-two{
        padding: 30px 0;
        width: 100%;
        flex-direction: column;
    }

    .hello-two > img{
        width: 320px;
        height: 300px;
    }

    .hello-two-text-container{
        align-items: center;
        text-align: center;
    }
}
/*-----hello-two-----*/
