/*-----hello-----*/
.hello{
    padding: 30px 100px 30px 100px;
    width: calc(100% - 200px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hello > img{
    width: 600px;
    height: 530px;
}

.hello-container-text{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hello-container-text > p:nth-child(1), .hello-container-text > p:nth-child(3){
    line-height: 27px;
}

.hello-container-text > p:nth-child(2){
    letter-spacing: 1.3px;
}

.hello-container-text > p:nth-child(3){
    letter-spacing: -0.9px;
}

.hello-container-double-button{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
}

.button-home{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 767px){
    
    .hello > img{
        width: 320px;
        height: 300px;
    }

    .hello{
        padding: 30px 0;
        width: 100%;
        gap: 30px;
        flex-direction: column;
    }

    .hello-container-text{
        align-items: center;
        text-align: center;
    }

    
    .hello-container-double-button{
        justify-content: center;
    }
}
/*-----hello-----*/