/*-----hello-----*/
.hello{
    padding: 30px 100px 0 100px;
    width: calc(100% - 200px);
    height: fit-content;
    background-color: #E7F5F8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hello > img{
    width: 565px;
    height: 570px;
}

.hello-text{
    width: 320px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hello-text > p:nth-child(2){
    letter-spacing: 1.3px;
}

.hello-text > p:nth-child(3){
    letter-spacing: 0.1px;
}


.button-home{
    width: 150px;
    height: 35px;
    background-color: #22262A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-home > p{
    color: #FFFFFF;
}

@media(max-width: 1144px){
    .hello{
        padding: 30px 0;
        width: 100%;
        flex-direction: column;
    }

    .hello-text{
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 585px){
    .hello > img{
        width: 320px;
        height: 300px;
    }
}
/*-----hello-----*/

/*-----advantages-----*/
.advantages{
    padding: 0 100px 50px 100px;
    height: fit-content;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.advantages-box{
    width: 260px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.advantages-box > p{
    text-align: center;
}

.advantages-box:nth-child(1){
    margin-right: 75px;
}

.advantages-box:nth-child(2){
    margin-left: 75px;
}

.advantages-box:nth-child(3){
    margin-left: 150px;
}

.advantages-box-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.advantages-box > p:nth-child(2){
    font-weight: 700;
    letter-spacing: 0.4px;
}

.advantages-box:nth-child(1) .advantages-box-icon{
    background-color: #6A2FBD;
}

.advantages-box:nth-child(2) .advantages-box-icon{
    background-color: #EC8C7D;
}

.advantages-box:nth-child(3) .advantages-box-icon{
    background-color: #FC7A0A;
}

.advantages-box-icon > img{
    height: 35px;
    width: 35px;
}

@media(max-width: 1279px){
    .advantages-box:nth-child(3){
        margin-right: 150px;
    }
}

@media(max-width: 869px){
    .advantages-box:nth-child(1), .advantages-box:nth-child(2),
    .advantages-box:nth-child(3){
        margin: 50px 0 0 0;
    }

    .advantages{
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .advantages{
        padding: 0 0 50px 0;
        width: 100%
    }
}
/*-----advantages-----*/